<!DOCTYPE html>
<html>
<head>
  <title>Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <%= pusher_include_tag '3.0' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
